@{
    ViewBag.Title = "Home";
}



<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        @section contact{
            <li><a href="#footer" class="icon solid fa-info-circle">Contact</a></li>
        }


        <!-- Header -->
        <!-- Main -->
        @*<div id="main">
            <article class="thumb">
                <a href="~/content/images/fulls/01.jpg" class="image"><img src="~/content/images/thumbs/01.jpg" alt="" /></a>
                <h2>Phlebotomy</h2>
                <p></p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/02.jpg" class="image"><img src="~/content/images/thumbs/02.jpg" alt="" /></a>
                <h2>State License</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/03.jpg" class="image"><img src="~/content/images/thumbs/03.jpg" alt="" /></a>
                <h2>CPR</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/04.jpg" class="image"><img src="~/content/images/thumbs/04.jpg" alt="" /></a>
                <h2>Billing Guidelines</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/05.jpg" class="image"><img src="~/content/images/thumbs/05.jpg" alt="" /></a>
                <h2>Drug Diversion</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/06.jpg" class="image"><img src="~/content/images/thumbs/06.jpg" alt="" /></a>
                <h2>Child Abuse/Domestic Abuse Reporting</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/07.jpg" class="image"><img src="~/content/images/thumbs/07.jpg" alt="" /></a>
                <h2>Diabete Care & Patient Education</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/08.jpg" class="image"><img src="~/content/images/thumbs/08.jpg" alt="" /></a>
                <h2>Pathophysiology: The Immune System</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/09.jpg" class="image"><img src="~/content/images/thumbs/09.jpg" alt="" /></a>
                <h2>CoronaVirus Disease(Pandemic)</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/10.jpg" class="image"><img src="~/content/images/thumbs/10.jpg" alt="" /></a>
                <h2>Blood Cultures</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/11.jpg" class="image"><img src="~/content/images/thumbs/11.jpg" alt="" /></a>
                <h2>CDC Regulations</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            <article class="thumb">
                <a href="~/content/images/fulls/12.jpg" class="image"><img src="~/content/images/thumbs/12.jpg" alt="" /></a>
                <h2>HIPPA</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
        </div>*@
        <footer id="footer" class="panel">
            <div class="inner split">
                <div>
                    <section>
                        <h2>Help</h2>
                        <p>If you have any issues with the site please fill out this form and let us know what the problem is. For any questions concerning what classes are needed please direct those to your supervisor.</p>
                    </section>
                </div>
                <div class="contact">
                    <section>
                        <h2>Get in touch</h2>
                        <form method="post">
                            <div class="fields">
                                <div class="field half">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send" class="primary" /></li>
                            </ul>
                        </form>

                    </section>
                </div>

            </div>
        </footer>
</body>
